@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .title {
      @apply text-2xl font-light text-primary;
    }
    .subtitle {
      @apply text-base font-light text-secondary;
    }
    .paragraph {
      @apply text-base text-secondary;
    }
    .action-button {
      @apply bg-accent text-background h-12 w-[47%] flex justify-center 
               items-center rounded-3xl hover:bg-background hover:text-accent
               border-solid border-2 border-accent cursor-pointer transition-all duration-200 ease-in;
    }
    .big-title{
      @apply text-[50px] leading-[80px] text-primary font-light
    }

    svg {
      @apply [&>path]:fill-accent
    }

    h1{
      @apply big-title
    }

    span{
      @apply text-accent
    }

    #section-icon{
      @apply mt-20 mb-7 flex [&>svg]:mr-2 [&>svg>path]:fill-primary
             border-solid border-borderColor rounded-3xl
             border-[1px] py-2 px-5 justify-center items-center
             w-fit text-xs
    }

    #profile-link{
      @apply border-solid border-borderColor border-2 rounded-full
             w-[50px] h-[50px] [&>svg]:w-[50%] [&>svg]:h-[50%] flex justify-center items-center 
             hover:border-accent transition-all duration-300
    }

    code{
      @apply text-secondary -translate-y-[3px] px-[6px]
    }

    #contact-box{
      @apply flex flex-col 
    }

    input, textarea{
      @apply bg-background focus:outline-none py-2 text-lg
    }

    label {
      @apply mt-5
    }

    textarea{
      @apply mb-10 border-b border-b-borderColor border-b
    }

    .input-error{
      @apply text-red-500
    }

    .error{
      @apply text-sm text-red-500 mt-[20px] ml-2
    }

    input, textarea{
      @apply rounded-3xl pl-4
    }
  }

*{
    color: white;
    font-family: sans-serif;
    font-weight: 400;
    transition: all;
    transition-duration: 300ms;
}

html{
  scroll-behavior: smooth;
}

#homepage-sections{
  scroll-behavior: smooth;
}

.hide-cursor{
  display: none;
}

.hidden1.left{
    transform: translateX(-50%);
}

.hidden1.right{
    transform: translateX(50%);
}

.hidden1.down{
    transform: translateY(100px);
}

.hidden1.up{
    transform: translateY(-100px);
}

.hidden1.blur1{
    filter: blur(10);
}

.hidden1.zoom{
    transform: scale(3);
}

.hidden1.zoom15{
    transform: scale(1.5);
}

.hidden1.zoom-out{
    transform: scale(0.1);
}

.hidden1.delay05{
    transition-delay: 0.5s !important
}
.hidden1.delay1{
    transition-delay: 1s !important
}
.hidden1.delay15{
    transition-delay: 1.5s !important
}
.hidden1.delay2{
    transition-delay: 2s !important
}
.hidden1.delay25{
    transition-delay: 2.5s !important
}
.hidden1.delay3{
    transition-delay: 3s !important
}
.hidden1.delay35{
    transition-delay: 3.5s !important
}
.hidden1.delay4{
    transition-delay: 4s !important
}
.hidden1.delay45{
    transition-delay: 4.5s !important
}
.hidden1.delay5{
    transition-delay: 5s !important
}
.hidden1.delay55{
    transition-delay: 5.5s !important
}

.hidden1{
    opacity: 0 !important;
    transition: all 1.5s !important
}
.hidden1.duration05{
    transition-duration: 0.5s !important
}
.hidden1.duration01{
    transition-duration: 100ms !important
}
.hidden1.duration1{
    transition-duration: 1s !important
}
.hidden1.duration15{
    transition-duration: 1.5s !important
}
.hidden1.duration2{
    transition-duration: 2s !important
}
.hidden1.duration25{
    transition-duration: 2.5s !important
}
.hidden1.duration3{
    transition-duration: 3s !important
}
.hidden1.duration35{
    transition-duration: 3.5s !important
}
.hidden1.duration4{
    transition-duration: 4s !important
}

.show{
    filter: none !important;
    transform: translateX(0) !important;
    transform: translateY(0) !important;
    transform: scale(1) !important;
    opacity: 1 !important;
}